<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
      <title>NodeJs Basic</title>
</head>

<body>
      <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/upload">Upload File</a>
      </div>

      <div style="padding-left:16px">
            <h2>List users</h2>
            <table>
                  <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Manage</th>
                  </tr>
                  <%= test%>
                        <% for(let i=0; i < dataUser.length; i++) { %>
                              <tr>
                                    <td>
                                          <%= dataUser[i].id %>
                                    </td>
                                    <td>
                                          <%= dataUser[i].firstName %>
                                    </td>
                                    <td>
                                          <%= dataUser[i].lastName %>
                                    </td>
                                    <td>
                                          <button>
                                                <a target="blank" href="/details/user/<%= dataUser[i].id %>">
                                                      Details
                                                </a>
                                          </button>
                                          <form action="/edit-user/<%= dataUser[i].id %>" method="GET">
                                                <button type="submit">Edit</button>
                                          </form>
                                          <form action="/delete-user" method="POST">
                                                <input name="userId" value="<%= dataUser[i].id %>" type="text" hidden>
                                                <button type="submit">Delete</button>
                                          </form>
                                    </td>
                              </tr>
                              <% } %>
            </table>
            <form action="create-new-user" method="POST">
                  <b>Create new user</b><br>
                  <label for="firstName">First name:</label><br>
                  <input type="text" name="firstName" value="John"><br>
                  <label for="lastName">Last name:</label><br>
                  <input type="text" name="lastName" value="Doe"><br>
                  <label for="email">Email:</label><br>
                  <input type="email" name="email" value="John"><br>
                  <label for="address">Address</label><br>
                  <input type="text" name="address" value="Doe"><br>
                  <br>
                  <input type="submit" value="Submit" />
            </form>
      </div>
</body>

</html>