<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>update</title>
      <link rel="stylesheet" href="/css/style.css">
</head>

<body>
      <div class="update-user-container">
            <form action="/update-user" method="POST">
                  <div>
                        <label for="">First Name</label><br>
                        <input name="firstName" value="<%= user.firstName %>" type="text">
                  </div>
                  <div>
                        <label for="">Last Name</label><br>
                        <input name="lastName" value="<%= user.lastName %>" type="text">
                  </div>
                  <div>
                        <label for="">Email</label><br>
                        <input name="email" value="<%= user.email %>" type="text">
                  </div>
                  <div>
                        <label for="">Address</label><br>
                        <input name="address" value="<%= user.address %>" type="text">
                  </div>
                  <input type="text" value="<%= user.id %>" hidden name="id">
                  <div><button style="padding: 10px;" type="submit">Save</button></div>
            </form>
      </div>
</body>

</html>